<h1>Bienvenido a nuestra tienda</h1>

<h2>Conocé todos nuestros productos</h2>

{{> product/productList}}

<!-- Botón "Ver más productos" -->
<div class="text-center mt-4">
  <a href="/products" class="btn btn-primary">Ver más productos</a>
</div>