
  <h1>Subir imágenes de productos</h1>

  <form action="/api/upload/products" method="post" enctype="multipart/form-data">
    <input type="file" name="productImages" id="" accept="image/*" multiple>
    <br>
    <button type="submit">Subir imágnes</button>
  </form>
