<h1>Subir foto de perfil de usuario</h1>

<form action="/api/users/images/profiles/{{uid}}" method="post" enctype="multipart/form-data">
  <input type="file" name="profileImage" id="" accept="image/*">
  <br>
  <button type="submit">Subir imágnes</button>
</form>