<main class="container">
  <h1>Restaurar Contraseña</h1>

  <form action="/api/users/sendMailRestorePassword" method="POST">
    <input type="email" name="email" placeholder="Ingresa tu correo electrónico" required>
    <button type="submit">Enviar</button>
  </form>

  {{#if showError}}
  <div class="error-message">
    {{ message }}
  </div>
  {{/if}}