<main class="container">
  <h1>Confirmar Contraseña</h1>

  <form action="/api/users/sendMailRestorePassword" method="POST">
    <input type="password" name="password" placeholder="Ingresa tu nueva contraseña" required>
    <input type="password" name="passwordConfirm" placeholder="Repetí tu nueva contraseña" required>
    <button type="submit">Enviar</button>
  </form>

  {{#if showError}}
  <div class="error-message">
    {{ message }}
  </div>
  {{/if}}