<main class="container">
  <h1>Correo Enviado</h1>

  <p>Hemos enviado un correo a <strong>{{emailTo}}</strong> con las instrucciones para generar una nueva contraseña.</p>
  <p>Por favor, revisa tu bandeja de entrada y sigue las instrucciones del correo.</p>
  <p>Si no encuentras el correo, revisa tu carpeta de spam.</p>