* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

.card {
  margin: 1rem 0;
  padding: 1rem 1rem;
  background-color: #3c5b6f;
}
.card h1 {
  color:#FAF7F0;
}

.card > .list-group {
  padding:  1rem 0;
  margin: 0.1rem 0;
  border: none;
}

.list-group-item > span {
  font-weight: bold;
}
