<form method="get" id="formDeleteProduct" class=" card">
  <h4>Agregar un producto</h4>

  <div class="row mx-0 my-1">
    <label for="titleAddProduct" class="form-label col-4 col-form-label px-0">Título del producto:</label>
    <input type="text" name="titleAddProduct" id="titleAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="descriptionAddProduct" class="form-label col-4 col-form-label px-0">Descripción del producto:</label>
    <input type="text" name="descriptionAddProduct" id="descriptionAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="priceAddProduct" class="form-label col-4 col-form-label px-0">Precio del producto:</label>
    <input type="number" name="priceAddProduct" id="priceAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="thumbnailsAddProduct" class="form-label col-4 col-form-label px-0">Thumbnails del producto:</label>
    <input type="text" name="thumbnailsAddProduct" id="thumbnailsAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="codeAddProduct" class="form-label col-4 col-form-label px-0">Código del producto:</label>
    <input type="text" name="codeAddProduct" id="codeAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="stockAddProduct" class="form-label col-4 col-form-label px-0">Stock del producto:</label>
    <input type="number" name="stockAddProduct" id="stockAddProduct" class="col-form-control col-8" />
  </div>
  <div class="row mx-0 my-1">
    <label for="categoryAddProduct" class="form-label col-4 col-form-label px-0">Categoría del producto:</label>
    <input type="text" name="categoryAddProduct" id="categoryAddProduct" class="col-form-control col-8" />
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary mt-3 float-end">Agregar producto</button>
  </div>


</form>